html {
    background-color: #fff;
    background: url("../images/pirate_background_image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
#backgroundImage {

}

/* desktop first approach = (the website was built initialy for desktop and will be adapted for mobiles)
Even if this approach requires more work in the long run, it is used often in order to develop and Minimum Voable Product with the least amount of initial investment
*/


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    /* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
    for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
    */
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    header {
        color: white;
        line-height: 5rem;
        letter-spacing: .25rem;
        margin-bottom: 0px;
        font-size: 4rem;
    }
    #start-quiz {
        margin-bottom: 10px;
    }
    .intro-section {
        padding-bottom: 2rem;
        margin-bottom: 10px
    }
    .quiz-options {
        font-size: 0.9rem
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    header {
        font-size: 3em;
        line-height: 55px;
        margin-bottom: 20px;
    }
    .quiz-options {
        text-align: left;
        width: auto;
        margin-left: 40px;
        font-size: 0.8rem
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {}
